# local settings/configurations files
local_*

__pycache__

_build

*.log

# neglect PyCharm files
.idea

Work

*_cache

build

dist

RELEASE-VERSION.txt

*.egg*

_autosummary

avaframe/**/*.png

avaframe/**/*.shp.nxyz

avaframe/**/*.xml

avaframe/**/**/Outputs

avaframe/**/**/Inputs/DEMremeshed

avaframe/**/**/Inputs/remeshedRasters

avaframe/com1DFA/*.c

avaframe/com1DFA/*.so

/pixi.lock

/.pixi/

# auxilliary geodata .xml files (created by GIS software packages)
*.aux.xml

# Byte-compiled / optimized / DLL files
# see https://github.com/github/gitignore/blob/main/Python.gitignore
*.py[cod]

*.rcf