# local settings/configurations files
local_*

__pycache__

_build

*.log

# neglect PyCharm files
.idea

Work

*_cache

build

RELEASE-VERSION

*.egg*

_autosummary

avaframe/**/*.png

avaframe/**/*.shp.nxyz

avaframe/**/*.xml

avaframe/**/**/Outputs

avaframe/com1DFAPy/*.c

avaframe/com1DFAPy/*.so
