include avaframe/RELEASE-VERSION.txt
include avaframe/version.py
include avaframe/in3Utils/logging.conf
include avaframe/com1DFA/*.pyx
include avaframe/com9MoTVoellmy/MoT-Voellmy*.exe
recursive-include avaframe *Cfg.ini
global-exclude local_*Cfg.ini
prune benchmarks
prune docs
prune avaframe/tests
prune avaframe/data
