[build-system]
# Cython dependency is optional, see setup.py for details.
# For the package (run-time) dependencies, see setup.cfg.
requires = ["setuptools", "wheel", "numpy", "cython"]
build-backend = "setuptools.build_meta"

[tool.flake8]
max-line-length = 109
select = ['B950']
extend-ignore = ['E203', 'E501']

[tool.black]
line-length = 109
