.math {
    text-align: left;
}
.eqno {
    float: right;
}

/* .wy-nav-content {
    max-width: 100%;
} */

/* disable horizontal scroll bar for tables */
.wy-table-responsive table td {
    white-space: normal !important;
}
.wy-table-responsive {
    overflow: visible !important;
}
